body{
    background:url('image1/clothes-shop-shirt.jpg')no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
ul{
    
    margin:opx;
    padding: 0px;
    list-style:none;

}
ul li{
    display: flex;
    flex-direction: row-reverse;
    width: 100rem;
    align-content: left;
    justify-content: left;
    float:left;
    width: 200px;
    height: 40px;
    background-color:rgb(142, 145, 142) ;
    opacity:.8 ;
 
   
}
ul li a:hover{
    background-color: green;
    display: block;
    

}